.footer {
  background-color: #0a151e;

  /* display: flex; */
  /* height: 75px; */
  height: 5.1rem;
  text-align: center;
  flex: 1;
  
}

.text {
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  margin-top: 17.5px;

  /* padding: 10px, 25px, 10px, 25px; */
}

.img {
    margin-top: 10px;
}
